title: The Still Point
description: Reflections on the inner journey
url: https://premis.github.io
baseurl: ""

collections:
  articles:
    output: true
    permalink: /articles/:title/

defaults:
  - scope:
      path: ""
      type: "articles"
    values:
      layout: article
  - scope:
      path: ""
      type: "posts"
    values:
      layout: post

plugins:
- jekyll-seo-tag
